doctype html
html
    head 
        meta(charset="urf8")
        title #{pageTitle} | Wetube
        style 
            include ../css/guitarVideo.css
    body 
        div#Record
            form#RecordForm(method="POST")
                input#DateInput(type="date" name="date")
                label(for="title") Title:
                input#TitleInput(type="text" name="title")
            div#Btn
                button#VideoBtn Start Video Recording 
                button#SoundBtn Start Sound Recording
            div#RecordBox
                div#VideoBox
                    video#recordVideo
        div#List
            if videos.length > 0 
                each video in videos
                    div#videoList
                        div#VideoTitle
                            a#LinkVideo(href=`${video.id}/show`)
                                span 👉 Date: #{video.date} / Title: #{video.title}
                                a#LinkVideoDelete(href=`${video.id}/delete`)
                                    span ❌
                        if video.show
                            div#videoShowBox
                                video#VideoShow(src=`${video.file}` controls)

    script(src="../js/recorder.js")
